* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* html div {

} */
body div {
    overflow: hidden;
    
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);

}

/* INTRO PORTAL / TITLE */

.contIntro {
    position: absolute;
    z-index: 360;
    background-color: black;
    top: 0;
    width: 100%;
    height: 100vh;

    animation: welcomeCont 3s forwards; 
}
    @keyframes welcomeCont {
        0% {

        }
        50% {
            top: 0;

        }    
        100% {
                top: -120rem;
        }
    }

.divIntroPortal {  
    position: absolute;
    z-index: 400;
    /* height: 100vh; */
    /* top: -5rem; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../img/portal2.gif');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    transform: scale(.7);


    animation-name: welcomePortal;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

}
    @keyframes welcomePortal {
        0% {
            transform: scale(.7);

        }
        50% {
            top: 0;
        }    
        100% {
            transform: scale(1.012);
                top: -120rem;

        }
    }


.contIntro__imgTitle {
    position: relative;
    z-index: 300;
    width: 60%;
    height: auto;
    object-fit: contain;

    transform: scale(1.7);
    
    animation-name: welcomeTitle;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
    @keyframes welcomeTitle {
        0% {
            transform: scale(1.7);
        }
        50% {
            top: 0;
        }    
        100% {
            transform: scale(.80);
                top: -120rem;

        }
    }







/* SLIDES HOME */

.contBG {
    position: absolute;
    z-index: 100;
    background-color: aqua;
    background-image: url('../../img/banner-deTrajeEnAuto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200vh;


    /* margin-top: -10px; */
    /* animation: zoom 1s 1;
    animation-delay: 1.5s;
    transition: all 1s; */
}
    /* .contBG:hover {
        width: 100%;
    } */
/* @keyframes zoom {
    from {
        width: 100%;
        
    }
    to {
        width: 105%;
    }
}
 */





/* LINKS HOME */

.contLinks {
    position: absolute;
    right: 2rem;
    bottom: 14rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.6rem;
}
/* 
.contLinks__link {
    text-decoration: none;    
    background-color: #07beb879;

    font-size: 1.6rem;
    padding: .6rem 1.6rem;
    border-radius: 1.4rem;
    box-shadow: .2rem .2rem .1rem rgba(0, 0, 0, 0.459);

    transition: transform .22s, box-shadow .22s;
}
    .contLinks__link:hover {
        background-color: #020f0fd5;

        transform: scale(1.06);
        box-shadow: .26rem .26rem .26rem rgba(0, 0, 0, 0.644);

    } */




@media (min-width: 1360px) {
    
    .contBG {
        height: 90vh;
    }


}

/* @media (min-width: 1680px) {

    .contBG {
        height: vh;
    }
} */